.item {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.3rem;
    padding: 0.4rem;

}

.title {
    width: 350px;
}

.item:hover {
    /*cursor: pointer;*/
    /*background-color: #373C4A;*/
    /*border-radius: 13px;*/
}

.inputQty {
    border-radius: 13px;
    background-color: #373C4A;
    padding: 0.5rem;
    width: 80px;
    text-align: center;
    cursor: pointer;
}

.closeBtn{
    cursor: pointer;
}

.bar{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.2rem;
    /*padding: 0.4rem;*/
    border-bottom: 1px solid #373C4A;
    color: #696d7a;
}